ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

/* Write your CSS below, don't change the rules above. */

/* TODO 1: Set the CSS for all paragraph tags to "color: red" */
p {
  color: red
}

/* TODO 2: Set the CSS for all elements with the class "note" to "font-size: 20px" */
.note {
  font-size: 20px
}

/* TODO 3: Set the CSS for all elements with the id "id-selector-demo" to "color: green" */
#id-selector-demo {
  color: green
}

/* TODO 4: Set the CSS for li elements with the attribute "value" set to "4" to "color: blue" */
/* Note: if you write li[value] it will select all li elements with the value attribute, regardless of the quantitiy assigned to that value. */
li[value="4"] {
  color: blue
}

/* TODO 5: Set the CSS for all elements to "text-align: center" */
*{
  text-align: center;
}